header {
  height: 20vh;
  padding-top: 2rem;
  width: 100%;
}
.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}
.header_container h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.header_container h5 {
  font-size: 1.2rem;
  color: var(--color-light);
}
@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
}
@media screen and (max-width: 600px) {
  header{
    height: 60vh;
  }
}
